body{
    background-color: antiquewhite;
    border: 3px dashed black;
    width: 50%;
    margin: auto;
}

ol{

    margin: auto;
    padding: 0%;
    display: flex;
}

main{

    margin: auto;
}

div{
    padding: 0%;
}

li{
    list-style-type: none;
    display: block;
    padding: 10px 15px;
}

#div1 {
    text-align: center;
    background-color: rgb(103, 103, 207);
}

img{
    width: 50%;
    float: left;
}