.flex-container{
    background-color: antiquewhite;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 800px;
}

.flex-container div{
    width: 20%;
    border: 1px solid black;
    text-align: center;
    margin: 10px;
}

#flex-box-3{
    align-self: flex-end;
}